@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
  background: var(--gray-dark-default, #030712);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .container {
  padding: 0 15px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__logo {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.6px;
  cursor: pointer;
}
.header__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-top: 50px;
}
.header__img {
  align-self: center;
  width: 240px;
  height: 280px;
  border: 8px solid var(--gray-dark-default, #030712);
  position: relative;
}
.header__img::after {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  top: 23px;
  width: 260px;
  height: 260px;
  background-color: #374151;
  z-index: -1;
}
.header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__title {
  color: var(--gray-dark-900, #f9fafb);
  font-family: "Roboto Mono", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  margin-top: 48px;
}
.header__subtitle {
  color: var(--gray-dark-600, #d1d5db);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
  text-align: justify;
}
.header__location, .header__pos {
  display: flex;
  margin-top: 15px;
}
.header__location-logo, .header__pos-logo {
  align-self: center;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.header__location-text, .header__pos-text {
  margin-left: 5px;
  font-weight: 400;
}
.header__social {
  margin-top: 15px;
}
.header__social a {
  cursor: pointer;
}
.header__social a + a {
  margin-left: 10px;
}

.menu {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__input {
  font-size: 0;
  height: 0;
  width: 0;
  display: none;
}
.menu__list {
  display: flex;
  justify-content: baseline;
  flex-wrap: inherit;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  position: absolute;
  left: -110%;
  top: 60px;
  width: 100%;
  height: auto;
  z-index: 2;
  transition: all 300ms;
  padding: 0 15px;
  height: 100vh;
  background-color: #030712;
}
.menu__title {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.menu__title .h-menu {
  width: 24px;
  height: 2.5px;
  position: relative;
  background-color: #fff;
  transition: all 300ms;
}
.menu__title .h-menu::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-5px);
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.menu__title .h-menu::before {
  transform: translateY(5px);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}
.menu__item {
  margin-bottom: 20px;
}
.menu__link {
  display: block;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #fff;
  text-transform: lowercase;
  text-align: left;
  line-height: 19px;
  position: relative;
}
.menu__mode {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #fff;
  text-transform: lowercase;
  text-align: center;
  line-height: 19px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
}
.menu__btn {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #030712;
  text-transform: lowercase;
  text-align: left;
  line-height: 19px;
}
.menu #menu_1:checked ~ .menu__list {
  left: 0;
}
.menu #menu_1:checked ~ .menu__title .h-menu {
  background-color: transparent;
}
.menu #menu_1:checked ~ .menu__title .h-menu::after {
  transform: rotate(45deg);
}
.menu #menu_1:checked ~ .menu__title .h-menu::before {
  transform: rotate(-45deg);
}

@media (min-width: 750px) {
  .container {
    padding: 0 20px;
  }
  .menu__btn {
    width: 100%;
  }
}
@media (min-width: 1170px) {
  .header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header__top {
    padding: 0;
  }
  .header .menu__title {
    display: none;
  }
  .header .menu__list {
    position: relative;
    flex-direction: row;
    left: 0;
    top: 0;
    padding: 0;
    height: auto;
  }
  .header .menu__item {
    margin: 0;
    margin-right: 30px;
  }
  .header .menu__btn {
    margin: 0;
    font-weight: 300;
    cursor: pointer;
  }
  .header .menu__mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    cursor: pointer;
  }
  .header .menu__mode-text {
    display: none;
  }
  .header__logo {
    font-size: 30px;
  }
  .header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: calc(100vh - 82.2px);
    margin-top: 0;
  }
  .header__img {
    justify-self: flex-start;
    margin: 0 auto;
    order: 2;
    height: auto;
    width: 0%;
    display: flex;
    justify-content: flex-end;
    border: 0px;
    align-items: center;
    margin-bottom: 120px;
  }
  .header__img::before, .header__img::after {
    width: 0;
    height: 0;
    background-color: transparent;
    opacity: 0;
  }
  .header__img img {
    width: 260px;
    height: 260px;
    margin-right: 20px;
  }
  .header__text {
    width: 60%;
    margin-bottom: 120px;
  }
  .header__location {
    margin-top: 48px;
  }
  .header__social {
    margin-top: 48px;
  }
}
.about {
  background: var(--gray-dark-50, #111827);
}
.about .container {
  padding: 0 15px;
}
.about__wrapper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}
.about__title {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}
.about__subtitle {
  margin: 20px 0;
  color: var(--gray-dark-900, #f9fafb);
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.about__text {
  color: var(--gray-dark-600, #d1d5db);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin-top: 15px;
}

@media (min-width: 1170px) {
  .about .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .about__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about__title {
    width: 100%;
    order: 1;
  }
  .about__subtitle {
    order: 2;
  }
  .about__text {
    order: 3;
  }
}
.skills .container {
  padding: 0 15px;
}
.skills__wrapper {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}
.skills__title {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}
.skills__list {
  list-style-type: none;
  margin: 20px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 30%;
}
.skills__item-name {
  margin-top: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 750px) {
  .skills .container {
    padding: 0 20px;
  }
  .skills__list {
    grid-template-columns: repeat(6, 1fr);
  }
  .skills__item-name {
    font-weight: 300;
  }
}
@media (min-width: 1170px) {
  .skills .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .skills__list {
    grid-template-columns: repeat(8, 1fr);
  }
  .skills__item {
    margin-top: 20px;
  }
  .skills__item-name {
    color: var(--gray-dark-900, #f9fafb);
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
}
.projects .container {
  padding: 0 15px;
}
.projects__wrapper {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}
.projects__title {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 30px;
}
.projects__list {
  border-radius: 12px;
  list-style-type: none;
}
.projects__item {
  margin-top: 24px;
}
.projects__img {
  border-radius: 12px 12px 0 0;
  padding: 32px;
  background-color: #374151;
}
.projects__img img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 192px;
  border-radius: 12px;
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
}
.projects__block {
  background-color: #111827;
  padding: 32px;
  border-radius: 0 0 12px 12px;
}
.projects__name {
  text-align: left;
  cursor: pointer;
}
.projects__desc {
  margin: 24px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  text-align: left;
  margin-bottom: 30px;
}
.projects .tools__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.projects .tools__list-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--gray-dark-200, #374151);
}
.projects__code {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  text-transform: lowercase;
}
.projects__code a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 750px) {
  .projects .container {
    padding: 0 20px;
  }
  .projects__item {
    display: flex;
    border-radius: 12px 12px 0 0;
  }
  .projects__list .projects__item:nth-child(even) .projects__block {
    border-radius: 12px 0 0 12px;
    order: 1;
  }
  .projects__list .projects__item:nth-child(even) .projects__img {
    border-radius: 0 12px 12px 0;
    order: 2;
  }
  .projects__img {
    width: 50%;
    border-radius: 12px 0 0 12px;
  }
  .projects__img img {
    height: 100%;
  }
  .projects__block {
    width: 50%;
    border-radius: 0 12px 12px 0;
  }
}
@media (min-width: 1170px) {
  .projects .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .projects__img {
    padding: 48px;
  }
  .projects__img img {
    height: 384px;
  }
}
.link .container {
  padding: 0 15px;
}
.link__wrapper {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
}
.link__title {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
}
.link__subtitle {
  color: var(--gray-dark-600, #d1d5db);
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-top: 30px;
}
.link__mail, .link__phone {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 16px;
}
.link__mail a, .link__phone a {
  margin: 0 8px;
}
.link__social {
  margin: 0 auto;
  margin-top: 16px;
}
.link__social-text {
  color: var(--gray-dark-600, #d1d5db);
  text-align: center;
  /* Body2/Normal - All */
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  margin-top: 16px;
}

@media (min-width: 750px) {
  .link .container {
    padding: 0 20px;
  }
  .link__social-text {
    font-weight: 400;
    font-size: 18px;
  }
}
.footer {
  background: var(--gray-dark-50, #111827);
}
.footer .container {
  padding: 0 15px;
}
.footer__wrapper {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}/*# sourceMappingURL=style.css.map */