@media (min-width: 750px) {
  .projects {
    .container {
      padding: 0 20px;
    }
    &__item {
      display: flex;
      border-radius: 12px 12px 0 0;
    }
    &__list {
      .projects__item:nth-child(even) {
        .projects__block {
          border-radius: 12px 0 0 12px;
          order: 1;
        }
        .projects__img{
          border-radius: 0 12px 12px 0;
          order: 2;
        }
      }
    }
    &__img {
      width: 50%;
      border-radius: 12px 0 0 12px;

      img {
        height: 100%;
      }
    }
    &__block {
      width: 50%;
      border-radius: 0 12px 12px 0;
    }
  }
}
