.about {
  background: #111827;
  margin-top: 64px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
  }
  &__title {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    text-transform: lowercase;
  }

  &__subtitle {
    margin: 20px 0;
    color: var(--gray-dark-900, #f9fafb);
    font-size: 22px;
    font-weight: 600;
    text-align: left;
  }
  &__info {
    p {
      color: var(--gray-dark-600, #d1d5db);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      margin-top: 15px;
      transition: max-height 0.3s ease-in-out; /* Add transition to the height property */
    }
    a {
      color: #3366cc;
    }
  }
}
