@media (min-width: 750px) {
  .skills {
    .container {
      padding: 0 20px;
    }
    &__list {
      grid-template-columns: repeat(6, 1fr);
    }
    &__item{
      &-name{
        font-weight: 300;
      }
    }
  }
}
