@media (min-width: 1170px) {
  .about {
    .container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 20px;
    }
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      width: 100%;
      order: 1;
    }
    &__subtitle {
      order: 2;
    }
    &__text {
      order: 3;
    }
  }
}
